html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif; }

/*Hero Section */
header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/hero.jpeg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  display: block;
  text-align: center; }
  header img {
    height: 125px;
    margin-bottom: 80px; }
  header nav {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    padding: 10px 0 0 0;
    letter-spacing: 3px;
    font-weight: 300; }
    header nav a {
      color: rgba(200, 198, 198, 0.5);
      padding: 0 10px; }
      header nav a:hover, header nav a:active, header nav a:focus {
        text-decoration: none;
        color: #4abcab; }
  header h1 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    color: #fff;
    font-size: 6.5em;
    text-align: center;
    display: block;
    text-transform: uppercase; }
    @media screen and (max-width: 768px) {
      header h1 {
        font-size: 11vw; } }
  header button {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: 30px;
    border: 1px solid #4abcab;
    background: none;
    color: #fff;
    border-radius: 20px;
    padding: 5px 20px;
    transition: background 0.35s ease; }
    header button:hover, header button:focus {
      background: #4abcab;
      text-decoration: none;
      outline: none; }

.page-scroll {
  position: absolute;
  display: inline-block;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 0.15s ease; }
  .page-scroll:hover {
    bottom: 4.5%; }
  .page-scroll i {
    color: #fff;
    transition: color 0.15s ease; }
    .page-scroll i:hover {
      color: #4abcab; }

/*About Section */
#about {
  background: #f9f9f9;
  overflow: auto; }

.about-container {
  text-align: center;
  max-width: 1060px;
  margin: 0 auto;
  padding: 10px 20px 0 20px; }
  .about-container h1 {
    font-weight: 300;
    font-size: 36px;
    color: #383838; }
  .about-container img {
    margin: 25px 0;
    height: 325px;
    border-radius: 50%; }

.description {
  max-width: 650px;
  margin: 0 auto; }
  .description p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #7a7979;
    line-height: 34px; }
  .description a {
    color: #4abcab;
    text-decoration: none; }
    .description a:hover, .description a:focus {
      color: #307c70; }

.skills-container {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 15px; }
  .skills-container h4 {
    color: #5d5d5d; }

.skills-box-left {
  width: 325px;
  float: left; }

.skills-box-right {
  width: 325px;
  float: left;
  margin-left: 50px; }

@media screen and (max-width: 800px) {
  .skills-box-left {
    width: inherit;
    float: none;
    margin: 0 auto; }

  .skills-box-right {
    width: inherit;
    float: none;
    margin: 0 auto; } }
.progress {
  height: auto;
  background-color: #c8c6c6;
  margin-bottom: 35px; }

.progress-bar {
  background-color: #4abcab;
  height: 5px;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  transition: 3s; }

/*Work Section */
#work {
  background: #fefefe;
  overflow: auto; }
  #work .work-container {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 15px 17px; }
    #work .work-container h1 {
      font-weight: 300;
      font-size: 40px;
      color: #383838;
      margin-bottom: 40px; }
    #work .work-container p {
      font-size: 17px;
      font-weight: 300;
      color: #7a7979;
      line-height: 29px; }

.work-hero img {
  width: 100%; }
.work-hero h2 {
  margin: 40px 0;
  font-weight: 300;
  color: #5d5d5d;
  font-size: 34px; }

.work-pages {
  margin-top: 35px; }
  .work-pages img {
    height: 200px; }
  .work-pages h3 {
    color: #5d5d5d;
    font-weight: 300;
    text-transform: uppercase; }
  .work-pages .col-md-4 {
    padding-top: 30px; }

.exp-work-container h1 {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 38px; }
.exp-work-container .col-md-3 {
  min-height: 250px;
  opacity: 0.65; }
  .exp-work-container .col-md-3:hover {
    opacity: 1; }
.exp-work-container #wiki-viewer {
  background: url("../img/wiki-viewer.png");
  background-position: center;
  background-size: cover; }
.exp-work-container #random-quote {
  background: url("../img/quote.png");
  background-position: center;
  background-size: cover; }
.exp-work-container #twitch {
  background: url("../img/twitch.png");
  background-position: center;
  background-size: cover; }
.exp-work-container #weather {
  background: url("../img/weather.png");
  background-position: center;
  background-size: cover; }

/*Contact Section */
#contact {
  background-color: #4abcab;
  overflow: auto; }

.contact-container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center; }
  .contact-container h1 {
    font-weight: 300;
    font-size: 3.2em;
    color: #383838;
    margin-top: 50px;
    margin-bottom: 40px; }
  .contact-container p {
    font-weight: 300;
    font-size: 22px;
    color: #585858; }
  .contact-container a {
    color: #2A3A3F; }
  .contact-container button {
    margin: 50px 10px;
    background: none;
    border: 1px solid #2A3A3F;
    border-radius: 20px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    padding: 7px 18px;
    transition: background 0.35s ease, color 0.35s ease; }
    .contact-container button:hover, .contact-container button:focus {
      background: #2A3A3F;
      color: #4abcab;
      text-decoration: none;
      outline: none; }

/* .modal-fullscreen */
.modal-fullscreen {
  background: transparent;
  text-align: center; }
  .modal-fullscreen .modal-content {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .modal-fullscreen .modal-content h1 {
      color: #fff;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 3em;
      margin-bottom: 20px; }
    .modal-fullscreen .modal-content p {
      color: #d9d9d9;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 1.5em; }
    .modal-fullscreen .modal-content i {
      color: #fff; }
    .modal-fullscreen .modal-content img {
      height: 150px; }

#contact-intro {
  max-width: 700px;
  margin: 0 auto; }

#contact-form {
  text-align: center;
  max-width: 600px;
  margin: 10px auto 0 auto; }
  #contact-form input[type="text"] {
    background-color: #707070;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 7px 3px 7px 10px;
    font-size: 1.1em;
    width: 100%;
    margin-bottom: 15px; }
    #contact-form input[type="text"]::placeholder {
      color: #cccccc; }
    #contact-form input[type="text"]:focus {
      outline: none; }
  #contact-form textarea {
    background-color: #707070;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 1.1em;
    resize: none;
    margin-bottom: 15px; }
    #contact-form textarea::placeholder {
      color: #cccccc; }
    #contact-form textarea:focus {
      outline: none; }
  #contact-form input[type="submit"] {
    background-color: #707070;
    border: 2px solid #4abcab;
    border-radius: 20px;
    color: #fff;
    padding: 8px 25px;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    transition: background-color 0.35s ease, color 0.35s ease; }
    #contact-form input[type="submit"]::placeholder {
      color: #cccccc; }
    #contact-form input[type="submit"]:focus {
      outline: none; }
    #contact-form input[type="submit"]:hover {
      background-color: #4abcab;
      color: #707070; }

.modal-header {
  border: none; }

.modal-backdrop.modal-backdrop-fullscreen {
  background: #707070; }
  .modal-backdrop.modal-backdrop-fullscreen.in {
    opacity: 1;
    filter: alpha(opacity=100); }

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */
.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%; }

@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px; } }
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px; } }
/*Footer */
footer {
  background-color: #707070;
  height: 200px;
  text-align: center; }
  footer img {
    height: 80px;
    margin-bottom: 10px;
    transition: height 0.25s ease, margin-bottom 0.25s ease; }
    footer img:hover {
      height: 90px;
      margin-bottom: 0px; }
  footer p {
    color: #e0e0e0;
    text-align: center;
    font-weight: 300;
    margin-top: 10px; }

.footer-icons {
  text-align: center;
  letter-spacing: 15px;
  margin-top: 15px; }
  .footer-icons a {
    color: #e0e0e0;
    transition: color 0.25s ease; }
    .footer-icons a:hover {
      color: #4abcab; }

/*# sourceMappingURL=style.css.map */
