html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif; }

/*Hero Section */
header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/hero.jpeg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  display: block;
  text-align: center; }
  header img {
    height: 125px;
    margin-bottom: 80px; }
  header nav {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    padding: 10px 0 0 0;
    letter-spacing: 3px;
    font-weight: 300; }
    header nav a {
      color: rgba(200, 198, 198, 0.5);
      padding: 0 10px; }
      header nav a:hover, header nav a:active, header nav a:focus {
        text-decoration: none;
        color: #4abcab; }
  header h1 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    color: #fff;
    font-size: 6.5em;
    text-align: center;
    display: block;
    text-transform: uppercase; }
  header button {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: 30px;
    border: 1px solid #4abcab;
    background: none;
    color: #fff;
    border-radius: 20px;
    padding: 5px 20px;
    transition: background 0.35s ease; }
    header button:hover, header button:focus {
      background: #4abcab;
      text-decoration: none;
      outline: none; }

.page-scroll {
  position: absolute;
  display: inline-block;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 0.15s ease; }
  .page-scroll:hover {
    bottom: 4.5%; }
  .page-scroll i {
    color: #fff;
    transition: color 0.15s ease; }
    .page-scroll i:hover {
      color: #4abcab; }

/*About Section */
#about {
  background: #f9f9f9;
  overflow: auto; }

.about-container {
  text-align: center;
  max-width: 1060px;
  margin: 0 auto;
  padding: 35px 20px 0 20px; }
  .about-container h1 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #415f63;
    text-transform: uppercase; }
  .about-container img {
    margin: 25px 0;
    height: 325px;
    border-radius: 50%; }

.description {
  max-width: 650px;
  margin: 0 auto; }
  .description p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #777676;
    line-height: 34px; }
  .description a {
    color: #4abcab;
    text-decoration: none; }
    .description a:hover, .description a:focus {
      color: #307c70; }

.skills-container {
  max-width: 700px;
  margin: 50px auto 50px auto; }
  .skills-container h4 {
    color: #504f4f; }

.skills-box-left {
  width: 325px;
  float: left; }

.skills-box-right {
  width: 325px;
  float: left;
  margin-left: 50px; }

@media screen and (max-width: 800px) {
  .skills-box-left {
    width: inherit;
    float: none;
    margin: 0 auto; }

  .skills-box-right {
    width: inherit;
    float: none;
    margin: 0 auto; } }
.progress {
  height: auto;
  background-color: #c8c6c6;
  margin-bottom: 35px; }

.progress-bar {
  background-color: #4abcab;
  height: 5px;
  transition-duration: 3s; }

/*Contact Section */
#contact {
  height: 350px;
  background-color: #4abdac;
  overflow: auto; }

.contact-container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center; }
  .contact-container h1 {
    font-weight: 300;
    font-size: 3.2em;
    color: #3c3b3b;
    margin-top: 50px;
    margin-bottom: 40px; }
  .contact-container p {
    font-weight: 300;
    font-size: 17px;
    color: #585858; }
  .contact-container a {
    color: #2A3A3F; }
  .contact-container button {
    margin-top: 50px;
    background: none;
    border: 1px solid #2A3A3F;
    border-radius: 20px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    padding: 7px 18px;
    transition: background 0.35s ease, color 0.35s ease; }
    .contact-container button:hover, .contact-container button:focus {
      background: #2A3A3F;
      color: #4abcab;
      text-decoration: none;
      outline: none; }

/* .modal-fullscreen */
.modal-fullscreen {
  background: transparent; }
  .modal-fullscreen .modal-content {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }

.modal-backdrop.modal-backdrop-fullscreen {
  background: #707070; }
  .modal-backdrop.modal-backdrop-fullscreen.in {
    opacity: 0.9;
    filter: alpha(opacity=90); }

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */
.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%; }

@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px; } }
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px; } }
/*Footer */
footer {
  background-color: #707070;
  height: 200px;
  text-align: center; }
  footer img {
    height: 80px; }
  footer p {
    color: #e0e0e0;
    text-align: center;
    font-weight: 300;
    margin-top: 20px; }

.footer-icons {
  text-align: center;
  letter-spacing: 15px;
  margin-top: 15px; }
  .footer-icons a {
    color: #e0e0e0;
    transition: color 0.25s ease; }
    .footer-icons a:hover {
      color: #4abcab; }

/*# sourceMappingURL=style.css.map */
