html, body
  margin: 0px
  padding: 0px
  font-family: 'Lato', sans-serif

/*Hero Section*/
header
  height: 100vh
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('img/hero.jpeg')
  background-attachment: fixed
  background-position: center center
  background-size: cover
  display: block
  text-align: center

  img
    height: 125px
    margin-bottom: 80px

  nav
    text-align: center
    font-family: 'Lato', sans-serif
    font-size: 1.5em
    padding: 10px 0 0 0
    letter-spacing: 3px
    font-weight: 300
    a
      color: rgba(200, 198, 198,.5)
      padding: 0 10px
      &:hover,&:active,&:focus
        text-decoration: none
        color: #4abcab

  h1
    font-family: 'Lato', sans-serif
    font-weight: 100
    color: #fff
    font-size: 6.5em
    text-align: center
    display: block
    text-transform: uppercase

  button
    font-family: 'Lato', sans-serif
    font-weight: 300
    font-size: 18px
    margin-top: 30px
    border: 1px solid #4abcab
    background: none
    color: #fff
    border-radius: 20px
    padding: 5px 20px
    transition: background .35s ease
    &:hover,&:focus
      background: #4abcab
      text-decoration: none
      outline: none

.page-scroll
  position: absolute
  display: inline-block
  bottom: 5%
  left: 50%
  transform: translateX(-50%)
  transition: bottom .15s ease
  &:hover
    bottom: 4.5%
  i
    color: #fff
    transition: color .15s ease
    &:hover
      color: #4abcab

/*About Section */
#about
  background: #f9f9f9
  overflow: auto
.about-container
  text-align: center
  max-width: 1060px
  margin: 0 auto
  padding: 35px 20px 0 20px
  h1
    font-family: 'Lato', sans-serif
    font-weight: 700
    font-size: 22px
    color: #415f63
    text-transform: uppercase
  img
    margin: 25px 0
    height: 325px
    border-radius: 50%

.description
  max-width: 650px
  margin: 0 auto
  p
    font-family: 'Lato', sans-serif
    font-weight: 300
    font-size: 22px
    color: #777676
    line-height: 34px
  a
    color: #4abcab
    text-decoration: none
    &:hover,&:focus
      color: #307c70

.skills-container
  max-width: 700px
  margin: 50px auto 50px auto
  h4
    color: rgb(80, 79, 79)

.skills-box-left
  width: 325px
  float: left
.skills-box-right
  width: 325px
  float: left
  margin-left: 50px
@media screen and (max-width: 800px)
  .skills-box-left
    width: inherit
    float: none
    margin: 0 auto
  .skills-box-right
    width: inherit
    float: none
    margin: 0 auto

.progress
  height: auto
  background-color: rgb(200, 198, 198)
  margin-bottom: 35px

.progress-bar
  background-color: #4abcab
  height: 5px
  transition-duration: 2.5s

/*Contact Section*/
#contact
  height: 350px
  background-color: #4abdac
  overflow: auto

.contact-container
  max-width: 900px
  margin: 0 auto
  text-align: center
  h1
    font-weight: 300
    font-size: 3.2em
    color: rgb(60, 59, 59)
    margin-top: 50px
    margin-bottom: 40px
  p
    font-weight: 300
    font-size: 17px
    color: rgb(88, 88, 88)
  a
    color: #2A3A3F
  button
    margin-top: 50px
    background: none
    border: 1px solid #2A3A3F
    border-radius: 20px
    font-weight: 400
    font-size: 16px
    text-transform: uppercase
    padding: 7px 18px
    transition: background .35s ease, color .35s ease
    &:hover,&:focus
      background: #2A3A3F
      color: #4abcab
      text-decoration: none
      outline: none

/*Footer*/
footer
  background-color: #707070
  height: 200px
  text-align: center
  img
    height: 80px
  p
    color: #e0e0e0
    text-align: center
    font-weight: 300
    margin-top: 20px

.footer-icons
  text-align: center
  letter-spacing: 15px
  margin-top: 15px
  a
    color: #e0e0e0
    transition: color .25s ease
    &:hover
      color: #4abcab
